<div class="container"> <!-- ここを追加 -->
      <div class="row">

<div class="kannsouitirann"><h1><%= @book.title %></h1>

<h2>感想一覧</h2>
<%= paginate @impressions %>
<% @impressions.each do |impression| %>
<div class="box31">
<div class="box30">
    <div class="box-title"><%= impression.user.name %></div>
    <p><%= impression.impression %></p>
</div>
</div>
<% end %>
</div>
</div>
</div>
<%= paginate @impressions %>

